{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block style %}
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
{% endblock %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" action="{{ path('user_register') }}" method="post">
                <fieldset>
                    <legend>Регистрация</legend>

                    {% for msg in app.session.flashBag.get('info') %}
                        <div class="alert alert-danger">
                            {{ msg }}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_email">Имейл</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" id="user_email" placeholder="Email" name="user[email]" required
                                   type="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_fullName">Име</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="user_fullName" placeholder="Име"
                                   name="user[fullName]" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_first">Парола</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_first" placeholder="Парола"
                                   name="user[password][first]" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_second">Потвърди парола</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_second" placeholder="Потвърди парола"
                                   name="user[password][second]" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('homepage') }}">Обратно</a>
                            <button type="submit" class="btn btn-primary">Регистрация</button>
                        </div>
                    </div>

                    {{ form_row(form._token) }}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}
